# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
env/
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and databases
*.log
*.sqlite3
*.db

# Test coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
.coverage.*

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# PyLint and Flake8
.pylint.d/
.mccabe_cache
.pytest_cache/
ruff_cache/

# Cache files
*.pyc
*.pyo

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace

# Docker & Cloud
*.dockerfile
.dockerignore
.envrc
.env.local

# Airflow
airflow.cfg
unittest.cfg

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/